version: '3.8'
services:
  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1236Fuck_
      - POSTGRES_DB=cosmetics_db
    ports:
      - "5432:5432"

  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:1236Fuck_@db:5432/cosmetics_db
    depends_on:
      - db

volumes:
  postgres_data: